#map {
  height: 100%;
}

html,
body {
  height: 100%;
}

#details-panel {
  display: none;
}

/* Overlay container */
.map-overlay {
  position: absolute;
  z-index: 401;
  top: 12px;
  left: 12px;
  width: 420px;
}

#search-input,
#search-suggestions button {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Suggestions dropdown */
#search-suggestions {
  position: absolute;
  top: 56px;
  overflow: auto;
  background-color: var(--bs-list-group-bg);
}

#search-suggestions,
.leaflet-routing-geocoder-result {
  max-height: 320px;
}

/* When the search bar lives inside the Offcanvas, make it full-width & non-absolute */
#placeOffcanvas #search-bar {
  position: static;
  width: 100%;
}

.leaflet-routing-container {
  width: 100%;
  box-shadow: none;
}

/* .leaflet-routing-geocoders {
  border-bottom: none;
} */

/* make place icons a bit transparent */

.leaflet-routing-geocoder-result {
  z-index: 1100;
}
