#map {
  height: 100%;
}

html,
body {
  height: 100%;
}

/* Overlay container */
.map-overlay {
  position: absolute;
  z-index: 401;
  top: 12px;
  left: 12px;
  width: 420px;
}

.search-input,
.search-suggestions button {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Suggestions dropdown */
.search-suggestions {
  position: absolute;
  top: 56px;
  z-index: 402;
  max-height: 320px;

  overflow: auto;
  background-color: var(--bs-list-group-bg);
}

/* When the destination-search-bar lives inside the Offcanvas, make it full-width & non-absolute */
#placeOffcanvas #destination-search-bar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

/* make place icons a bit transparent */

.quick-choose-popup .leaflet-popup-content {
  margin: 12px 16px;
}
.quick-choose-popup .btn {
  margin: 2px 4px 2px 0;
}
