#map {
  height: 100%;
}

html,
body {
  height: 100%;
}

#details-panel {
  display: none;
}

/* Overlay container */
.map-overlay {
  position: absolute;
  z-index: 1100;
}

/* Suggestions dropdown */
#search-suggestions {
  background: #fff;
  max-height: 320px;
  overflow: auto;
  display: none; /* toggled via JS */
}

#search-suggestions li:hover,
#search-suggestions li.active {
  background: #f5faff;
}

/* Hide LRM geocoders until user clicks Directions */
.leaflet-routing-container .leaflet-routing-geocoders {
  display: none; /* hidden by default */
}
.leaflet-routing-container.lrm-show-geocoders .leaflet-routing-geocoders {
  display: block; /* show when we add the class */
}

/* make place icons a bit transparent */
